version: '2'
services:
  cron:
    image: nickbreen/cron:develop
    build:
      context: .
    environment:
      HELLO_WORLD: Hello World!
      CRON_D_HELLO_WORLD: |
        @reboot root touch /foo
        * * * * * root logger --tag cron-minute < /etc/container_environment/HELLO_WORLD
        * * * * * root ls -lrt /foo | logger --tag cron-minute
